<p>
  If you are a customer, enter your request <%= link_to 'here', new_request_path%>
</p>

<p>
  If you are an interior designer, enter view existing requests <%= link_to 'here', requests_path%>
</p>